@tailwind base;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  html, body {
    @apply bg-white dark:bg-black;
  }
  div, span {

  }
  h1 {
    @apply text-8xl text-center;
  }
  h2 {
    @apply text-5xl text-center;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h1, h2, h3, h4 {
    @apply font-crimson text-black dark:text-gray-200
  }
  p {
    @apply text-gray-500 dark:text-gray-400;
  }
  .icon {
    @apply text-black dark:text-white;
  }
  .btn {
    @apply relative inline-flex items-center border-white dark:border-black px-4 py-2 shadow-sm text-sm font-medium rounded-md text-white bg-red-700 dark:bg-red-600 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-red-700 dark:text-gray-300;
  }
  .btn-txt {
    @apply text-white dark:text-white;
  }
  .card {
    @apply rounded-md shadow-md dark:shadow-none dark:border-2 ring-1 ring-black ring-opacity-5 dark:bg-gray-900 dark:border-gray-700;
  }
  .card-white {
    @apply card bg-white;
  }
  .card-gray {
    @apply card bg-gray-50;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
